body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('../client/image/bg.webp');
}

h1, h4 {
  text-align: center;
}

a:hover {
  background-color: rgb(0, 123, 255);
  color: white
}

.main {
  border-radius: 15px;

  background-color: rgba(255, 255, 255, 0.541);
}
.nav{
  margin: 10px;
  padding: 10px;
}

.form-group>.btn {
  margin-top: 10px;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: rgb(0, 123, 255);
  color: white
}

.hide {
  display: none;
}

.btn{
  background-color: rgba(0, 123, 255, .5);
  color: white
}

.btn:hover{
  background-color: rgb(0, 123, 255);
}

.delete {
  margin: 10px 0;
  background-color: rgba(255, 0, 0, 0.548);
}

.delete:hover {
  cursor: pointer;
  background-color: red;
}
