.garbage-section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  width: 72.5%;
  margin-top: 10px;

  background: rgb(255 255 255 / 30%);

  border-radius: 5px;
}

.garbage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  width: 97%;

  color: black;
}

.garbage-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
  margin: 5px;

  width: 80px;
  height: 80px;

  border-radius: 5px;

  background: rgba(255, 255, 255, 0.5);

  font-weight: bold;
  color: black;
}
.garbage-button {
  width: 50%;
  height: 50px;

  margin-bottom: 5px;

  border-radius: 5px;
  background: rgba(111, 202, 198, 0.7);
  
  border: none;
  
  font-size: larger;
  font-weight: bold;
}

.garbage-item:hover, .garbage-button:hover {
  cursor: pointer;
  background: rgb(236, 2, 72);
  box-shadow: 0px 0px 22px 0px rgb(236, 2, 72);
}
.garbage-item:active, .garbage-button:active {
  cursor: pointer;
  background: rgb(76, 236, 2);
  box-shadow: 0px 0px 22px 0px rgb(76, 236, 2);
}
